PORT=your_app_port
ENVIRONMENT=development
MONGO_URL=mongodb://127.0.0.1:27017/restApiDatabase
TOKEN_SECRET=tokensecret
TOKEN_EXPIRY=3600 # 1h
ACCESS_TOKEN_SECRET=accesssecret
ACCESS_TOKEN_EXPIRY=900 # 15m
REFRESH_TOKEN_SECRET=refreshsecret
REFRESH_TOKEN_EXPIRY=86400 # 1d